<form action="/artists" method=POST>
    <label for="artist_name">Artist Name</label>
    <input type="text" id="artist_name" name="artist[name]">
    <fieldset>
        <legend>Choose From Existing Songs</legend>
    <% Song.all.each do |song| %>
        <label><%= song.name %></label>
        <input type="checkbox" name="artist[song_ids][]" value="<%= song.id %>">
    <% end %>
    </fieldset>

    <fieldset>
        <legend>Create new song</legend>
        <label for="song_name">Song Name: </label>
        <input type="text" name="song[name]">

    </fieldset>
    <input type="submit" value="Create Artist">
</form>